<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><@s.text name='page.downloadAndroid.t1'/></title>
	<#include "../../commons/top.html">
</head>
<body>

<div id="wrapper">
	<div class="downwrapper">
    	<div class="d-section d-section-b1">
        	<img class="left" src="<@s.text name='static.file.path'/>/images/d.jpg" />
            <div class="middle">
            	<h2><@s.text name='page.downloadAndroid.b1'/></h2>
                <h3><@s.text name='page.downloadAndroid.b2'/></h3>
                <p><strong><@s.text name='page.downloadAndroid.b3'/></strong> 2014-05-03</p>
                <p><strong><@s.text name='page.downloadAndroid.b4'/></strong><@s.text name='page.downloadAndroid.b5'/></p>
                <p><strong><@s.text name='page.downloadAndroid.b6'/></strong>"710KB"</p>
                <p><strong><@s.text name='page.downloadAndroid.b7'/></strong><@s.text name='page.downloadAndroid.b8'/></p>
                <p><strong><@s.text name='page.downloadAndroid.b9'/></strong></p>
                <p><@s.text name='page.downloadAndroid.b10'/></p>
                <p><@s.text name='page.downloadAndroid.b11'/></p>
            </div>
            <div class="right" style="top:10px; left:670px;">
            	<img  width="180" height="180" src="<@s.text name='static.file.path'/>/images/android_ZeFit.jpg" />
                <p class="mb10"><@s.text name='page.downloadAndroid.b12'/></p>
                <p class="mb10"><a href="http://app-zefit.mykronoz.com/download/ZeFit.apk" target="_blank"><img src="<@s.text name='static.file.path'/>/images/btn_localdownload.jpg" /></a></p>
            </div>
        </div>
        
        <div class="d-section d-section-b2">
        	<div class="left">
                <h2><@s.text name='page.downloadAndroid.b13'/></h2>
				<h3><@s.text name='page.downloadAndroid.b14'/></h3>
				<h3> <@s.text name='page.downloadAndroid.b15'/></h3>
            </div>
            <img class="right" src="<@s.text name='static.file.path'/>/images/d_an_pic2.jpg" />
        </div>
        
        <div class="d-section d-section-b3">
        	<img class="left" src="<@s.text name='static.file.path'/>/images/d_an_pic3.jpg" />
            <div class="right">
            	<h2><@s.text name='page.downloadAndroid.b16'/></h2>
				<h3><@s.text name='page.downloadAndroid.b17'/></h3>
            </div>
        </div>
     
        <div class="d-section d-section-b7">
        	<img class="right" src="<@s.text name='static.file.path'/>/images/d_an_pic7.jpg" />
            <div class="left">
            	<h2><@s.text name='page.downloadAndroid.b18'/></h2>
				<h3><@s.text name='page.downloadAndroid.b19'/><h3>
            </div>
        </div> 
    </div>

    <#include "../../commons/foot2.html">
</div>

</body>
</html>
