<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><@s.text name='page.software.t1'/></title>
	<#include "../../commons/top.html">
</head>
<body>
	<#include "../../commons/head.html">
	<div class="content">
	    <div class="ui-grid-row mb10">
	        <div class="ui-grid-11">
	            <div class="ui-grid-row mb20 mt20">
	                <div class="ui-grid-3"><img src="<@s.text name='static.file.path'/>/images/d.jpg"/></div>
	                <div class="ui-grid-7">
	                	<img src="<@s.text name='static.file.path'/>/images/zefit.jpg"/>
	                    <p class="f20 ml10"><@s.text name='page.software.b1'/></p>
	                </div>
	            </div>
	            <p class="mb10 color-black"><@s.text name='page.software.b2'/></p>
	            <p class="mb20 color-black"><@s.text name='page.software.b3'/></p>
	            <p class="mb10">
	            	<a  href="<@s.text name='pc.download'/>" class="btn-windows"></a>
	            	<a  href="<@s.text name='mac.download'/>" class="btn-macos"></a>
	            </p>
	        </div>
	        <div class="ui-grid-14 tc f12">
	            <img src="<@s.text name='static.file.path'/>/images/software.jpg"/>
	            <p><@s.text name='page.software.b4'/></p>
	            <p><@s.text name='page.software.b5'/></p>
	            <p><@s.text name='page.software.b7'/></p>
	        </div>
	    </div>
	</div>    
	
	<#include "../../commons/foot2.html">
</body>
</html>
