/* CSS Document */
body {margin:0; padding:0; font-size:12px; font-family:"宋体", Arial;}
h1 {display:none;}
h2, h3,h4, p, ul, ol, li, dl, dt, dd, form {margin:0; padding:0; list-style:none;}
img{ border:none; vertical-align:top;}
a:link{text-decoration:none; color:#333;}
a:visited{text-decoration:none; color:#551a8b;}
a:hover {text-decoration:underline;}
a:active{ color:#f00;}
.margin10{ margin-top:15px;}

.head{ height:117px; width:100%; position:relative; background:#f2f1f1; min-width:980px;}
.logo{ width:179px; height:89px; background:url(/images/logo.png) no-repeat; float:left; margin:20px 0 0 50px; display:inline;}
.logo a{ display:block; width:179px; height:89px; background:url(/images/logo.png) no-repeat;}
.searchBox{ float:left; padding:50px 0 0 60px;}
.select01{ float:left; width:60px; height:29px; padding:0; margin:0; line-height:29px;border:#bac9d6 1px solid;}
.input01{ width:370px; border:#bac9d6 1px solid; height:25px; background:url(/images/inputbg.png) repeat-x; line-height:25px; float:left; margin-left:8px; display:inline;}
.btn01{ width:83px; height:29px; background:url(/images/btnbg.png) no-repeat; border:none; color:#fff; float:left; cursor:pointer;}
.searchBox label{ float:left; line-height:29px; padding:0 0 0 10px;}
.searchBox label a{ padding:0 3px; text-decoration:underline; cursor:pointer;}
.searchBox label a:hover{text-decoration:none;}
.head p{ position:absolute; right:10px; top:0; line-height:30px; padding-right:20px; text-align:right; color:#0e6286;}
.head p a{ text-decoration:underline; color:#0e6286; cursor:pointer; margin:0 5px;}
.head p a:hover{ text-decoration:none;}

.footer{ width:100%; border-top:#ccc 1px solid;  overflow:hidden; margin-top:20px; text-align:center;}
.footer span{ float:left; padding-top:7px;}
.footer p{ padding:20px 0; line-height:24px; padding-left:10px; float:left;}
.footer p a{ margin:0 8px;}
.foot{ width:635px; margin:0 auto;}

.main_menu{ height:39px; width:100%; background:url(/images/menubg.png) repeat-x; min-width:980px;}
.main_menu ul{ padding-left:30px;}
.main_menu li{ float:left; line-height:39px; font-size:12px; font-weight:bold;}
.main_menu li a{ color:#fff; padding:0 30px;}

.main_index{ width:980px; border:#dfebf4 3px solid; overflow:hidden; margin:0 auto;margin-top:8px; padding-bottom:10px;}
.leftbar{ float:left; width:737px;}
.soft_jx{ width:710px; padding:4px; background:#e5f0f6; border:#b3ceda 1px solid; margin:5px;}
.box01{ width:710px;  background:#fff; overflow:hidden; padding-bottom:10px;}
.box01 h2{ font-size:14px; width:680px; margin:0 auto; border-bottom:#ddd 1px solid; line-height:30px; text-indent:5px; padding-top:10px;}
.pic{ float:left; width:173px; margin:20px 0 0 20px; display:inline;}
.pic span{ display:block; text-align:center;}
.pic span.pic01{ width:151px; height:153px; border:#ccc 1px solid; padding:2px;}
.pic span.tit{ line-height:30px; font-size:14px;}
.text01{ float:left; width:500px; line-height:20px; color:#666; padding:20px 0 0 0;}
.text01 p{ text-indent:2em;}
.text01 ul{ width:500px; padding:10px 0 0 0;}
.text01 ul li{ float:left; width:156px; padding-left:10px; line-height:24px; background:url(/images/point_blue.png) left center no-repeat; font-weight:bold;}
.text01 ul li a{ color:#006699;}

.jx_text{ width:710px; margin:5px;}
.jx_text h2{font-size:14px; width:710px; padding-left:10px; margin:0 auto; border-bottom:#ddd 1px solid; line-height:24px;padding-top:10px;}
.jx_text ul{ width:690px; padding:15px 0 5px 10px; overflow:hidden; margin:0 auto;}
.jx_text ul li{ float:left; width:320px; padding:0 10px; line-height:28px; font-size:14px; background:url(/images/point_black.png) left center no-repeat;}

.rightbar{ float:right; width:243px; margin-top:5px;}
.citiao{ width:233px; border:#b3ceda 1px solid;}
.citiao h2{ height:31px; background:url(/images/titbg.png) repeat-x; font-size:14px; border-bottom:#ddd 1px solid; line-height:34px; width:223px; padding-left:10px; overflow:hidden;}
.citiao p{ padding:8px 10px; line-height:22px; color:#366377; font-size:14px;}
.citiao p a{ color:#366377; margin:0 7px 0 0;}
.citiao p a.color01{ font-weight:bold; color:#f00;}
.citiao p a.color02{ font-weight:bold; color:#52a6cb;}
.citiao p a.color03{ font-weight:bold; color:#366377;}
.citiao p a.color04{ font-weight:bold; color:#84b3c8;}
.citiao p a.color05{ font-weight:bold; color:#3e6044;}
.citiao p a.color06{ font-weight:bold; color:#1e9cd4;}

.hot ul{ padding:8px 0; width:223px; margin:0 auto; overflow:hidden;}
.hot ul li{ float:left; height:31px; line-height:35px; background:#f6f9ff; width:223px; overflow:hidden;}
.hot ul li span.num{ font-size:11px; width:30px; text-align:center;}
.hot ul li span{ float:left;}
.hot ul li span.ico{ width:30px; height:31px; background:url(/images/up.png) center no-repeat;}
.hot ul li span.ico01{ background:url(/images/down.png) center no-repeat;}
.hot ul li span.tit{ width:150px; padding-right:6px;}
.hot ul li a{ color:#069;}
.hot ul li.bg_white{ background:#fff;}
.hot ul li.flag span.num{ color:#c00;}

.details{ width:702px; margin:0 auto;}
.details h2{ border-bottom:#eee 3px solid; line-height:30px; padding:5px 0 0 0;}
.text{ padding:10px; font-size:14px; line-height:24px;}
.text p{ padding-top:8px; text-indent:2em;}

/*搜索页*/
.searchbody{ width:100%; min-width:980px; padding:15px 0; padding-bottom:10px; overflow:hidden; }
.left{ float:left; width:189px; padding-left:20px;}
.left h2{ background:url(/images/ico.png) left center no-repeat; line-height:24px; height:24px; font-size:12px; border-bottom:#ddd 1px solid; width:160px; padding-left:10px;}
.left ul.nav{ width:140px; padding:5px 0 10px 20px;}
.left ul.nav li{ line-height:24px;}
.left ul.nav li a{ color:#069; text-decoration:underline;}
.left ul.nav li a:hover{ color:#069; text-decoration:none;}

.main{width:100%;margin:0 -300px 0 -210px; float:left;}
.main_inner{margin:0 320px 0 210px; border-left:#ddd 1px solid; padding-left:20px; } 
.find{ padding-bottom:10px;}
.find dt{ font-size:14px; line-height:30px;}
.find dt a{ color:#069; text-decoration:underline;}
.find dt a span{ color:#f00; text-decoration:underline;}
.find dt a span:hover{ color:#f00; text-decoration:underline;}

.find dt a:link{text-decoration:underline; color:#069;}
.find dt a:visited{text-decoration:none; color:#551a8b;}
.find dt a:hover { color:#069;text-decoration:underline;}
.find dt a:active{ color:#f00;}

.find dt a:link span{ color:#f00; text-decoration:underline;}
.find dt a:visited span{ color:#551a8b; text-decoration:none;}
.find dt a:hover span{ color:#f00; text-decoration:underline;}
.find dt a:visited span:hover{ color:#f00; text-decoration:underline;}

.find dd{ line-height:20px;}
.find dd a{ color:#069;}
.find dd span.url{ color:#090;}

.page{ display:block; padding:10px 0 0 0; clear:both; overflow:hidden;}
.page a{ color:#333; margin-right:8px;}
.page a:hover{ color:#f00;}
.page a.selected{ color:#f00;}

.right{ float:right; width:300px; margin-left:20px; }
.tj_link{ width:252px; border:#ddd 1px solid; padding-bottom:20px;}
.tj_link p.tit{ text-align:right; padding:5px; color:#666;}
.tj_link dl{ padding:10px; padding-bottom:0;}
.tj_link dl dt{ font-size:14px; line-height:22px;}
.tj_link dl dt a{ color:#069; text-decoration:underline;}
.tj_link dl dt a:hover{ color:#069; text-decoration:none;}
.tj_link dl dd{ padding:3px 0 0 0;}
.tj_link dl dd span.url{ color:#090;}
.ad{ margin-top:10px;}

.content{ width:100%; padding:15px 0 0 0; min-width:980px;}
.detail_left{overflow:hidden;zoom:1; }
.jianjie{padding-bottom:10px;margin:0 30px; clear:both; overflow:hidden;}
.jianjie01{padding:10px;margin:0 30px; padding-bottom:20px;border-bottom:#ddd 1px solid; line-height:20px; text-indent:2em; clear:both; overflow:hidden;}
.menu{ width:210px; border:#ddd 1px solid; float:left;}
.menu ul{ padding:10px;}
.menu h2{ font-size:18px; color:#069; border-bottom:#ddd 1px solid; line-height:30px; margin:0 auto; padding:5px 0 0 5px;;}
.menu ul li{ background:url(/images/point01.png) 3px 6px no-repeat; line-height:24px; font-size:14px; padding-left:15px;}
.menu ul li a{ color:#069;}
.jianjie_box{overflow:hidden;zoom:1; padding:0 20px; }
.jianjie_box h2{ font-size:18px; color:#069; border-bottom:#ddd 1px solid; line-height:30px; margin:0 auto; padding:5px 0 0 5px;;}
.table01{ padding:10px 0; line-height:24px;}
.table01 td p{ text-indent:2em; line-height:24px; padding-top:10px; font-size:14px;}
.red{ color:#f00;}
.ding{ width:77px; height:22px; border:none; background:url(/images/ding.png) no-repeat; cursor:pointer; margin-right:10px;}
.cai{ width:77px; height:22px; border:none; background:url(/images/cai.png) no-repeat; cursor:pointer; margin-right:10px;}
.download{ width:124px; height:32px; border:none; background:url(/images/download.png) no-repeat; cursor:pointer; margin-right:10px;}

.f_left{ float:left;}
.tpBox{ border:#ddd 1px solid; width:140px; padding:1px; height:6px; background:#fff; float:left; margin:5px 0 0 0;}
.tpBox b{ height:6px; background:url(/images/tpbg.png) repeat-x; float:left;}
.search_about{margin:0 30px;}
.search_about h2{ font-size:18px; color:#069; border-bottom:#ddd 1px solid; line-height:36px;  padding:5px 0 0 5px;}
.search_about dl{ padding:20px 0 0 10px;}
.search_about dt{ background:#eee; display:inline; padding:6px 10px; font-size:14px;}
.search_about dd{ line-height:20px; padding-left:10px; width:510px; clear:both;}
.search_about dd.canshu span{ width:170px; float:left;}
.search_about dd.canshu span em.green{ color:#060; font-style:normal;}
.search_about dd.xiazai a{ color:#069; margin-right:10px; text-decoration:underline;}
.search_about dd.xiazai a:hover{ color:#069; margin-right:10px; text-decoration:none;}
.page01{ padding-left:20px; padding-top:20px;}

.xiangguan{ width:252px; border:#ea6300 1px solid; margin-bottom:10px;}
.xiangguan h2{ height:23px; background:url(/images/titbg01.png) repeat-x; font-size:12px; color:#fff; line-height:23px; padding-left:10px;}
.xiangguan ul{ padding:10px; overflow:hidden;}
.xiangguan ul li{ float:left; background:url(/images/point_black.png) 3px 5px no-repeat; padding-left:10px; width:100px; line-height:24px; font-size:14px; }
.search_about01 dd{ line-height:20px; padding-left:10px; width:auto; clear:both;}

.same{margin:0 30px;}
.same h2{ font-size:18px; color:#333; margin-top:20px; font-size:14px; border-bottom:#ddd 1px solid; background:#c3daf4; line-height:30px;  padding:0 0 0 10px;}
.same ul{ overflow:hidden; padding:10px 0 10px 0;}
.same li{ float:left; width:260px; height:24px; overflow:hidden; font-size:14px; line-height:24px;background:url(/images/point_black.png) 3px 8px no-repeat;padding:0 10px; margin-left:10px; display:inline;}
.same li a{ color:#069;}

.about{ width:950px; margin:0 auto; overflow:hidden;}
.left01{ float:left; width:200px;}
.left01 ul{ width:180px; margin:0 auto; padding-top:10px;}
.left01 ul li{ width:160px; height:30px; line-height:30px; border-bottom:#ebf2f7 1px solid;padding-left:20px; font-size:14px; font-weight:bold; }
.left01 ul li a{ color:#069;}
.left01 ul li.selected{background:url(/images/aboutico.png) 8px 10px no-repeat; }
.right01{ float:left; width:724px; border-left:#cedee9 1px solid; margin:10px 0 0 10px; padding-left:15px;}
.right01 h2{ color:#4d9abc; font-size:18px; font-family:"微软雅黑"; font-weight:bold; line-height:30px; padding-left:10px; border-bottom:#eee 3px solid;}
.about_text{ padding:0 8px; padding-top:10px;}
.about_text p{ text-indent:2em; font-size:14px; line-height:24px; padding-bottom:10px;}
.detail_left{overflow:hidden;zoom:1; border-right:#ddd 1px solid;  }

.box404{ width:663px; height:260px; background:url(/images/bg_17.png) no-repeat; margin:0 auto; margin-top:80px; font-family:"微软雅黑";font-size:14px; color:#000;}
.box404 p{ padding:63px 0 0 205px; line-height:22px;}
.box404 span{ display:block; padding-left:20px; }
.box404 span.red01{ color:#f00; padding:0; display:inline;}

.position{ padding:0 20px; padding-top:10px;}
.position a{ margin:0 5px;}
.position01{ padding:0 20px; padding-top:10px;width:980px;margin:0 auto}

/*后台样式*/
.houtai{width:920px; height:400px; margin:100px auto 0 auto; background:url(/images/loginbg.gif);}
.houtai01{width:430px; height:400px; margin-left:236px;}
.ht_top{ background:url(/images/logintop.gif);}

.ht_header{ height:93px; text-align: right; border-bottom:#78b5e7 6px solid; width:100%; background:url(/images/ht_01.jpg) no-repeat;}
.ht_body{ width:100%; overflow:hidden; padding-top:10px;}
.ht_left{ width:200px; padding-left:15px; float:left; } 
.ht_menu{ width:193px; background:url(/images/menu.jpg) repeat-y; height:400px; border-bottom:#aececd 1px solid;}
.ht_left h2{ height:26px; background:url(/images/ht_04.jpg) no-repeat;  font-size:12px; color:#fff; font-weight:normal; padding-left:30px; padding-top:9px;}

.ht_footer{ border-top:#78b5e7 6px solid; text-align: center; margin-top:20px; padding-top:20px; }
.ht_menu ul{ padding:0 10px; padding-bottom:5px; margin:0; line-height:24px;}
.ht_menu ul li{ background:url(/images/ht_16.jpg) 5px 5px no-repeat; padding-left:20px;}
.ht_right{overflow:hidden;zoom:1; padding-right:10px; padding-left:10px; border-left:#ddd 1px solid; }
.ht_site{ height:27px; background:url(/images/ht_07.jpg) repeat-x; border:#ddd 1px solid; line-height:27px;}
.ht_site span.f{ float:left; background:url(/images/ht_10.jpg) 5px 5px no-repeat; padding-left:28px;}
.ht_site span.r a{ margin:0 5px;}
.table02{ padding:10px; clear:both; overflow:hidden;font-size:12px; font-family:"宋体", Arial;}
.table02 td{ padding-bottom:10px;}
.tbn01{ height:22px; border:#7ecff8 1px solid; background:url(/images/ht_20.jpg) #b7e9ff repeat-x; padding:0 15px; cursor:pointer; margin-right:10px;}

/**菜单样式**/
.dtree { FONT-SIZE: 13px; COLOR: #000000; WHITE-SPACE: nowrap }
.dtree IMG { BORDER-RIGHT: 0px; BORDER-TOP: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px }
.dtree A { COLOR: #000000; TEXT-DECORATION: none }
.dtree A.node { PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; COLOR: #000000; PADDING-TOP: 1px; WHITE-SPACE: nowrap }
.dtree A.nodeSel { PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; WHITE-SPACE: nowrap }
.dtree A.node:hover { COLOR: #000000; TEXT-DECORATION: underline }
.dtree A.nodeSel:hover { COLOR: #ffffff; TEXT-DECORATION: underline }
.dtree A.nodeSel { BACKGROUND-COLOR: #666666 }
.dtree .clip { OVERFLOW: hidden }

.table03{ width:100%;background:#d7d7d7;clear:both; overflow:hidden; margin:5px 0 0 0;font-size:13px; font-family:"宋体", Arial;}
.table03 th{ height:27px;background:url(images/ht_07.jpg) repeat-x; font-weight:normal;text-align:center; color:#069;  line-height:27px; }
.table03 td{ background:#fff; color:#333; text-align:center; height:28px; line-height:28px; padding-left:10px; padding-right:10px;}
.table03 td.yellow_bg{ background:#f2f2f2; color:#333; text-align:center; height:28px; line-height:28px; padding-left:10px;}
.table03 td a{ color:#069; text-decoration:underline; cursor:pointer;}
.table03 td a:hover{ color:#069; text-decoration:none;}

.chooseBox{ color:#069; background:url(images/ht_07.jpg) repeat-x; height:27px; line-height:27px;border:#ddd 1px solid; border-top:none;text-align: center;}
.input05{ width:20px; text-align:center;}
.chooseBox a{ color:#069;}
.chooseBox a.go{ padding:2px 2px; border:#069 1px solid; background:#fff; margin-left:5px; cursor:pointer;}
.shenhe01{width:112px; height:30px; border:none; background:url(images/shenhe_03.png) no-repeat; cursor:pointer;}
.shenhe02{width:112px; height:30px; border:none; background:url(images/shenhe_05.png) no-repeat; cursor:pointer; margin-left:8px;}

.btnBox{ padding:10px 0 0 0;}

/**弹出层样式**/
.popMod { width:100%; height:100%; left:0; top:0; position:absolute; z-index:1000; font-size:12px; }
.popMod .filter { z-index:140; width:100%; height:100%; position:absolute; top:0; left:0; background:#000; opacity:0.1; filter:alpha(opacity=10); margin:0; padding:0; overflow:hidden; }
.popMod iframe { width:100%; height:100%; border:none; position:absolute; top:0; left:0; filter:alpha(opacity=0); -moz-opacity:0; }
.popMod .popBox { position:absolute; left:18%; top:10.5%; width:380px; border:1px solid #000; background:#fff; z-index:200; text-align:left; }
.popTit{ height:30px; padding:0 10px; line-height:25px; overflow:hidden; background:#E8E8E8; border-bottom:1px solid #ACACAC}
.popTit .text{ float:left}
.popTit .colseBtn{ float:right; width:10px; height:10px; margin-top:10px; background:url(/images/incon_close.gif) no-repeat; cursor:pointer;}
.popConBox{ padding:1em;}

.btn_list{ padding:2em 0; text-align:center}
.btn_list button{ margin: 0 5px}

.hide{ display:none}

.btn_red { height:21px; line-height:21px; overflow:hidden; background:url(/images/nav_bg.gif) repeat-x 0px -57px; border:1px solid #EA0000; color:#fff; padding:0px 12px; padding:0px 12px\9; *padding:0px 7px;
_padding:0px 7px; display:inline; }
.btn_red_01 { height:21px; line-height:21px; overflow:hidden; background:url(/images/nav_bg.gif) repeat-x 0px -78px; border:1px solid #A50300; color:#fff; padding:0px 12px; padding:0px 12px\9; *padding:0px 7px;

.tb_01 { padding:10px 0 25px 50px }
.tb_01 tr td { padding:3px 0; }
.tb_01 tr td .sn { margin:0 0 0 10px; color:#ff0000; background:url(/images/channels/public/bg_icon_01.gif) no-repeat 0 1px; padding:0 0 0 8px; }
.xiala { width:308px; }